.navigation{
    text-decoration: none;
}
.sofa{
    width: 40%;
    height: 50%;
    top: 50%;
    left: 5%;
    
    
        /* Ensure the image fits well in the container */
        
        
    
        /* Apply a slight 3D rotation on the Y-axis (inward) */
        transform: perspective(1000px) rotateY(200deg);
    
        /* Optional: Enable smooth transition for the rotation */
        
    
}
.lamp{
    height: 70%;
    width: 60%;
    top: 25%;
    right: 10%;
}
.tvSet
{
    width: 41.5%;
    height: 36%;
    left: 30%;
    top: 27%;
}